[general]
#0: HEXAGON_BACKEND_QNNCPU
#1: HEXAGON_BACKEND_QNNGPU
#2: HEXAGON_BACKEND_QNNNPU / HEXAGON_BACKEND_CDSP
#3: default ggml backend
hexagon_backend = 2

# enable/disable QNN's internal log
print_qnn_internal_log = 0

# enable/disable perf of op function
enable_perf = 1

# enable/disable print tensors info in op function
print_tensors_info = 0

# enable/disable dump op info in handle_op
dump_op_info = 0

# 0: hwaccel approach through QNN
# 1: hwaccel approach through QNN-SINGLEGRAPH: mapping entire ggml cgraph to a single QNN graph
# 2: hwaccel approach through Hexagon cDSP
hwaccel_approach = 2

#hwaccel approach through QNN
[qnn]
hvx_threads = 4
vtcm_size_in_mb = 8
enable_dlbc = 1
precision_mode = "fp16"

#hwaccel approach through cDSP
[cdsp]
#enable/disable offload mulmat to cDSP
enable_mulmat_cdsp = 1
#enable/disable offload fp32 & quantized type mulmat to cDSP
enable_q_mulmat = 0
#enable/disable rpc ion memory pool
enable_rpc_ion_mempool = 1
